[Unit]
Description=OpenSearch
Wants=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory={{ opensearch_install_dir }}

User=opensearch
Group=opensearch

ExecStart={{ opensearch_install_dir }}/opensearch-tar-install.sh

[Install]
WantedBy=multi-user.target
